/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.btn {
  @apply bg-gradient-to-r from-green-400 to-blue-500 rounded-full inline-flex text-white border-0 py-2 px-6 text-lg;
}


.icon.icon-link {
  background-image: url('../../static/hyperlink.png');
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: 20px 20px;
}